body {margin: 0px 300px 0px 300px; background-color: #f6f6f6;}
#brush_splash {width: 1080px; height: 200px; position: relative; bottom: 50px;}
#mainBlock { margin: 0px 40px 0px 40px; }
#subBlock {display: flex; flex-direction: row;}
#imagesBlock{
    margin-left: 40px;
    width: 70px; height: 88px;
    background-image: url("images/paintbrush.png");
    background-size: 50px;
}
#repeat-y-Block { position: relative; left: 20px; bottom: 20px;}